Client/Client/Service References/TTTService/Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3132/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:3132/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3132/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="getRegisterFormAdvisorList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="registerNewPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="player" nillable="true" type="q1:PlayerData" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="advisors" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChampionships">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="registerNewChampionship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="champ" nillable="true" type="q3:ChampionshipData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="user" nillable="true" type="q4:PlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="user" nillable="true" type="q5:PlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendRegisterFormAdvisorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="players" nillable="true" type="q6:ArrayOfPlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="e" nillable="true" type="q7:Exception" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showPlayerRegisterSuccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sendChampionships">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="chmps" nillable="true" type="q8:ArrayOfChampionshipData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="showNewChampSuccess">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sendAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="users" nillable="true" type="q9:ArrayOfPlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginSuccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="user" nillable="true" type="q10:PlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logoutSuccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="user" nillable="true" type="q11:PlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userAlreadyConnected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="user" nillable="true" type="q12:PlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logoutFail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="user" nillable="true" type="q13:PlayerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>