Client/Client/Service References/TTTService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerData" nillable="true" type="tns:PlayerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerData" nillable="true" type="tns:ArrayOfPlayerData" />
  <xs:complexType name="PlayerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdviseTo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdvisor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerData" nillable="true" type="tns:PlayerData" />
</xs:schema>