Client/Client/Service References/TTTService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdviseTo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdviseTo_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdvisor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Is_Advisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerData" nillable="true" type="tns:PlayerData" />
  <xs:complexType name="ChampionshipData">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChampionshipData" nillable="true" type="tns:ChampionshipData" />
  <xs:complexType name="ArrayOfChampionshipData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChampionshipData" nillable="true" type="tns:ChampionshipData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChampionshipData" nillable="true" type="tns:ArrayOfChampionshipData" />
  <xs:complexType name="GameData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardSize" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Moves" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player1" type="xs:int" />
      <xs:element minOccurs="0" name="Player1_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player2" type="xs:int" />
      <xs:element minOccurs="0" name="Player2_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Winner_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameData" nillable="true" type="tns:GameData" />
  <xs:complexType name="ArrayOfPlayerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerData" nillable="true" type="tns:PlayerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerData" nillable="true" type="tns:ArrayOfPlayerData" />
  <xs:complexType name="ArrayOfGameData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameData" nillable="true" type="tns:GameData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameData" nillable="true" type="tns:ArrayOfGameData" />
  <xs:complexType name="ArrayOfPlayerGames">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerGames" nillable="true" type="tns:PlayerGames" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerGames" nillable="true" type="tns:ArrayOfPlayerGames" />
  <xs:complexType name="PlayerGames">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfGames" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerGames" nillable="true" type="tns:PlayerGames" />
  <xs:complexType name="ArrayOfCityChampionships">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityChampionships" nillable="true" type="tns:CityChampionships" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityChampionships" nillable="true" type="tns:ArrayOfCityChampionships" />
  <xs:complexType name="CityChampionships">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfChampionships" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityChampionships" nillable="true" type="tns:CityChampionships" />
</xs:schema>